@tailwind base;
@tailwind components;
@tailwind utilities;


 #root {
   min-width: 350px;
   gap: 1rem; 
    background-color: rgb(241, 239, 239);
 }

 #root > *:not(main) {
    background-color: #FFF;
    box-shadow: 0 0.6rem 0.9rem rgba(0, 0, 0, 0.2);
 }

 main {
   width: 100%;
   
   margin-left: 0.7rem;
 }

 .card {
   max-width: 100%;
   display: grid;
   gap: 1rem;
   padding-top: 2rem;
   grid-template-columns: auto 1fr;
   
 }

 @media (min-width: 768px) {
   #root {
      display: grid;
      grid-template-columns: 3fr 1fr;
   }
   .main {
      max-width: 100%;
   }

}

 