@tailwind base;
@tailwind components;
@tailwind utilities;


 #root {
   display: grid;
   grid-template-columns: minmax(0, 1fr);
   gap: 1rem;
   width: 100%;
   background-color: rgb(241, 239, 239);
 }

 #root > *:not(main) {
    background-color: #FFF;
    box-shadow: 0 0.6rem 0.9rem rgba(0, 0, 0, 0.2);
 }

 main {
   width: 100%;
   padding: 0.5rem;
   margin-left: 0.7rem;

 }

 .card {
   display: grid;
   grid-template-columns: auto minmax(0, 1fr); 
   /*grid template was generate a bug when a image is clicked,, a solution was to set 
   minmax format instead of simple 1fr in this case**/ 
   max-width: 100%;
   gap: 1rem;
   padding-top: 2rem;
   
 }

 .activeNav {
  background-color: aqua;
 }

 @media (min-width: 768px) {
   #root {
      display: grid;
      gap: 2rem; 
      grid-template-columns: 3fr 1fr;
   }
   .main {
      max-width: 100%;
   }

}

 